* {
  font-family: "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
}

:root {
  --custom-radius: 10px;
  --custom-margin: 0.25rem;
  --custom-padding: 0.5rem;
  --custom-alpha: 0.7;
}

html {
  min-height: 100%;
  /* background-image: url(./background4.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: -webkit-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: -moz-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: -ms-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: -o-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: linear-gradient(to bottom, #657e7f, #d6ac4f);
}

body {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./kenshi_landscape.jpg);

  /* background-image: url(./background1.jpg); */
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  background-color: #9db286;
}

.logo {
  width: 20rem;

  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(157, 178, 134, 0.5); */
}

.container {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  /* background-color: rgb(255, 218, 218); */
  /* background-color: rgba(0, 0, 0, 0.6); */
  max-width: 700px;
}

.btn {
  border-radius: var(--custom-radius);

  background-color: green;
  border: white 1px solid;
  font-size: 3rem;
  width: 10rem;
  padding: var(--custom-padding);
  /* margin: var(--custom-margin); */
  margin: 2rem;
}
.save-btn {
  border-radius: var(--custom-radius);

  background-color: blue;
  border: white 1px solid;
  font-size: 2rem;
  width: auto;
  padding: var(--custom-padding);
  /* margin: var(--custom-margin); */
  margin: 2rem;
}

.title {
  /* padding: var(--custom-padding); */
  border-radius: var(--custom-radius);
  margin: 2rem 0;
  color: #312c2a;
  background-color: rgba(0, 0, 0, var(--custom-alpha));
  font-size: 3rem;
}

.title h1 {
  font-size: 3rem;
  line-height: 2.8rem;
}

.title h2 {
  font-size: 1.3rem;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.settings-top {
  background-color: rgba(0, 0, 0, var(--custom-alpha));
  padding: 5px 10px;

  border-radius: var(--custom-radius);
}

.card-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.card {
  /* margin: var(--custom-margin); */
  flex-grow: 1;
  border-radius: var(--custom-radius);
  overflow: hidden;
  /* border: black 1px solid; */
  display: flex;
  flex-direction: column;
  /* min-width: 20rem; */
}

.card-title {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px 10px;
  background-color: #50534b;

  /* text-decoration: underline; */
  /* border-bottom: #070200 1px solid; */
  /* padding: 0 var(--custom-padding); */
}

.card-sub {
  /* padding-top: var(--custom-padding); */
  font-size: 1.2rem;
  text-decoration: underline;
  margin: 5px 10px;
  font-weight: bold;
}
.card-bottom {
  background-color: rgba(0, 0, 0, var(--custom-alpha));
  /* padding-top: var(--custom-padding); */
  /* margin: 5px 0; */
  /* font-weight: bold; */
}

.card-body {
  font-size: 1.1rem;

  margin: 5px 10px;
  /* padding: 0 var(--custom-padding); */
}

#spacer {
  display: flex;
  /* height: 100px; */
  /* background-color: black; */
  flex-grow: 5;
}

footer {
  /* border: #070200 1px solid; */
  border-bottom: none;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  background-color: #50534b;
  border-top-left-radius: var(--custom-radius);
  border-top-right-radius: var(--custom-radius);
}

.hide {
  display: none;
}
