* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
}

:root {
  --custom-radius: 10px;
  --custom-margin: 0.25rem;
  --custom-padding: 0.5rem;
}

html {
  min-height: 100%;
  /* background-image: url(./background4.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  background: -webkit-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: -moz-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: -ms-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: -o-linear-gradient(to bottom, #657e7f, #d6ac4f);
  background: linear-gradient(to bottom, #657e7f, #d6ac4f);
}

body {
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  justify-content: center;
  /* background-image: url(./background1.jpg); */
  /* 
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  background-color: #9db286; */
}

.logo {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(157, 178, 134, 0.5); */
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  /* background-color: rgb(255, 218, 218); */
  /* background-color: rgba(0, 0, 0, 0.6); */
  max-width: 700px;
}

.btn {
  background-color: #312c2a;
  border: #070200 2px solid;
  font-size: 1rem;
  width: 10rem;
  padding: var(--custom-padding);
  margin: var(--custom-margin);
}

.title {
  /* padding: var(--custom-padding); */
  font-size: 1rem;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin: var(--custom-margin);
  border-radius: var(--custom-radius);
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: #50534b;
}

.card-title {
  font-weight: bold;
  text-decoration: underline;
  border-bottom: #070200 1px solid;
  padding: 0 var(--custom-padding);
}

.card-sub {
  padding-top: var(--custom-padding);
  font-weight: bold;
}

.card-body {
  padding: 0 var(--custom-padding);
}

#spacer {
  display: flex;
  height: 100px;
  /* background-color: black; */
  /* flex-grow: 5; */
}

footer {
  border: #070200 1px solid;
  border-bottom: none;
  margin-top: var(--custom-margin);
  padding: 0 var(--custom-padding);
  background-color: #50534b;
  border-top-left-radius: var(--custom-radius);
  border-top-right-radius: var(--custom-radius);
}
